
/* Styling weather cards for small screens */
.card {
min-width:320px;
}
.card-body{
    padding: 0;
}
.weather-card-box{
    margin: auto;
}

.weather-decription-box{
    margin: auto;
}
.weather-icon{
    height: 40px;
    width: 40px;
}
#map-div{
    height: 500px;
}
