@import url('https://fonts.googleapis.com/css?family=Baloo+2|Roboto&display=swap');
body{
    background-color: #B1C1C0;

}
.heading-box{
    background-color: #5D737E;
    color: #EF946C;
    height: 80px;  
    text-align: center;
    font-family: 'Baloo 2', cursive;
    font-size: 48px;
}
.day-card{
    background-color: #AC80A0;
}

/* Styling weather cards for small screens */
.card {
font-family: 'Roboto', sans-serif;
min-width:320px;
border: #5D737E solid;
border-width: 2px;
border-radius: 5px;
}
.card-header{
    margin: auto;
    font-weight: 600;
}
.card-body{
    padding: 0;
    background-color: #B1C1C0;
}
.weather-card-box{
    margin: auto;
    font-weight: 500px;
}

.time-box{
    min-width: 35px;
}

.wind-dir-box{
    min-width: 26px;
}

.weather-decription-box{
    margin: auto;
}
.weather-icon{
    height: 40px;
    width: 40px;
}
#map-div{
    border: 5px solid;
    border-color: #5D737E;
    border-radius: 10px;
    height: 500px;
    padding: 0px;
}
.day-conatiner{
    margin: 0;
    padding: 0;
}    
.day-conatiner .card{
    background-color: #8a716a;

}
.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    
}
#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    padding: 5 11px 0 13px;
    text-overflow: ellipsis;
    width: 270px;
}
  
#pac-input:focus {
    border-color: #4d90fe;
}
  