
/* Styling weather cards for small screens */
.card {
min-width:320px;
}
.card-body{
    padding: 0;
}
.weather-card-box{
    margin: auto;
}

.weather-decription-box{
    margin: auto;
}
.weather-icon{
    height: 40px;
    width: 40px;
}
#map-div{
    height: 500px;
}
.day-conatiner{
    margin: 0;
    padding: 0;
}
.pac-card {
    margin: 10px 10px 0 0;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
    background-color: #fff;
    
  }
  #pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
  }
  
  #pac-input:focus {
    border-color: #4d90fe;
  }
  